In [2]:
from plotly.offline import download_plotlyjs, init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)
import plotly.graph_objects as go
from plotly import subplots
import plotly.offline as pyo
import pandas as pd

In [5]:
copper_data = pd.read_csv('ca_c_f_d.csv', index_col=0, parse_dates=True)
copper_data.head()

            Otwarcie  Najwyzszy  Najnizszy  Zamkniecie
Data
2015-01-02    6309.0     6309.0     6309.0      6309.0
2015-01-05    6216.0     6216.0     6216.0      6216.0
2015-01-06    6191.0     6191.0     6191.0      6191.0
2015-01-07    6170.0     6170.0     6170.0      6170.0
2015-01-08    6230.5     6230.5     6230.5      6230.5

In [6]:
kghm_data = pd.read_csv('kgh_d.csv', index_col=0, parse_dates=True)
kghm_data.head()

            Otwarcie  Najwyzszy  Najnizszy  Zamkniecie  Wolumen
Data
2015-01-02    102.45     102.83     101.97      102.40   309987
2015-01-05    102.16     102.88      99.91      100.09   479228
2015-01-07    100.53     105.45      99.67      104.89   966372
2015-01-08    105.35     107.15     105.35      107.11   711805
2015-01-09    107.15     107.15     103.87      104.33   563221